/**
 * @author Fixl Stefan
 * Copyright 2017 Fixl Stefan
 */

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    //overflow: hidden;
}

#frame{

}

#mainview{
    padding: 0;
}

#sidepanel{
    position: fixed;
}

#playbar{
    z-index: 1;
    position: fixed;
    float: left;
    left: 0;
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
   // border-top: #233581 solid 2px;
}

.playbutton,
.pausebutton,
.backbutton,
.nextbutton{
    width: 32px;
    height: 32px;
    margin-top: 4px;
    float: left;
    position: relative;
    display: inline-block;
}

.playbutton:hover,
.pausebutton:hover,
.backbutton:hover,
.nextbutton:hover{
    opacity: 0.5;
}

.playbutton{
    background-image: url("../img/play.png");

}
.pausebutton{
    background-image: url("../img/pause.png");

}
.nextbutton{
    background-image: url("../img/next.png");

}
.backbutton{
    background-image: url("../img/next.png");
    transform: scaleX(-1);
}
.playbar-info{
    postion: relative;
    float: left;
    left: 40%;
    padding: 5px;
    margin-top: 4px;
    display: inline-block;
}

.progressbar{
    height: 1px;
    background-color: #00f64f;
    position: absolute;
    float: left;
    top: 0px;
    left: 0px;
    display: flex;

}

.maintab{
    overflow-y: scroll;
    display: block;
    position: relative;
    float: left;
    background-color: #d3e7e5;
}
.playListTable{

}

.playListTable tr:hover,
.playListTable td:hover{
    background-color: #a7b5e4;
}

.contextMenu{
    position: absolute;
    min-width: 100px;
    min-height: 30px;
    z-index: 2;
    background-color: #d6d6d6;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
}

.contextMenu .property{
    padding: 3px;
}

.contextMenu .property:hover{
    background-color: #e8e8e8;
}

#mainview-sidepanel-button{
    float: left;
    position: relative;
}

.closebutton{
    display: inline;
    width: 7px;
    height: 7px;
    position: relative;
    float: right;
    right: 5px;
    top: 0px;
}
.closebutton:hover{
    font-weight: bold;
    font-size: large;
    color: #f44336;
    top: -3px;
    right: 7px;
}
.sidepanelbutton{
    display: inline-block;

}

.active{
    background-color: #4fbe53 !important
}

.buttontext{
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    position: relative;
    width: 100px;
    display: inline;
}

#mainview-search-form{
    position: relative;
    float:left;
    left: 150px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 20px;

}
#mainview-search-form input{
    width: 300px;
    height: 40px;
    background-color: #00ad9f;
    border-width: 0px;
    border-style: solid;
    border-color: #5ed693;
    border-radius: 20px;
    display: inline-block;
    padding-left: 15px;
}

#mainview-search-form input[type=text]:focus{
    box-shadow: none;
}

#mainview-search-form input:focus{
    border-width: 2px;
    outline: none;
}

#mainview-addsong,
#mainview-settings{
    position: relative;
    display: inline-block;
    float: right;
    font-size: large;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 46px;
    padding-bottom: 46px;
    width: 20px;
    height: 20px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-origin: content-box;
}

#mainview-addsong:hover,
#mainview-settings:hover{
    background-color: #ccc!important
}

#mainview-addsong{
    background-image: url("../img/plus.svg");
}

#mainview-settings{
    background-image: url("../img/cog.svg");
}
#mainview-addsong:hover{
    background-image: url("../img/plus-black.svg");
}

#mainview-settings:hover{
    background-image: url("../img/cog-black.svg");
}

.searchicon{
    width: 25px;
    height: 25px;
    backgound: url("../img/search.svg");
    background-image: url("../img/search.svg"), none;
    background-size: 25px 25px;
    position: relative;
    right: 40px;
    top: 7px;
    display: inline-block;
    z-index: 1;
    opacity: 0.5;
}

.searchicon:hover{
    opacity: 0.8;
}



#yt-frame{
    background-color: black;
    opacity: 0.9;
    position: fixed;
    float: right;
    bottom: 30px;
    right: 0px;
}
#soundcloud-frame{
    width: 200px;
    height: 200px;
}

